<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Banner Plumbing - Suppliers</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"></link>
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>

<div id="wrapper">

  <h2>Banner Plumbing</h2>
  <h1>Suppliers</h1>

  <table>
    <tr>
      <td>
        <div id="searching">
          <input type="search" placeholder="search" id="searchBox"></input>
        </div>
      </td>
      <td>
        <div id="sorting"></div>
      </td>
      <td>
        <div id="filtering"></div>
      </td>
    </tr>
  </table>

  <h3>Choose products from these plumbing product makers:</h3>
  <ul id="suppliers"></ul>

</div>
  
  <script type="text/javascript" src="data/suppliers.json"></script>

  <script type="text/template" id="vendor-template">
    <h5 class="vendor-header"><%= name %></h5>
    <ul class="details">
      <li>type: <%= type %></li>
      <li>link: <a href='<%= href %>' target='_blank'>website</a></li>
      <li>products: <%= products %></li>
      <li>styles: <%= styles %></li>
      <li>review: <%= review %></li>
    </ul>
  </script>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="../bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>
