<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plumbing Suppliers</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"></link>
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>

  <div id="wrapper" class="container">

    <header>
      <h3>Plumbing Suppliers</h3>
    </header>

    <div id="tools">
      <button class="btn" data-toggle="collapse" data-target="#searching" aria-expanded="false">searching</button>
      <button class="btn" data-toggle="collapse" data-target="#filtering" aria-expanded="false">filtering</button>
      <button class="btn" data-toggle="collapse" data-target="#sorting" aria-expanded="false">sorting</button>
      <div id="searching" class="collapse">
        <fieldset class="form-group">
          <label>search by name</label>
          <input type="search" placeholder="search" id="searchBox" class="search form-control">
        </fieldset>
      </div>
      <div id="filtering" class="collapse">
        <fieldset class="form-group" id="byType"></fieldset>
        <fieldset class="form-group" id="byProduct"></fieldset>
        <fieldset class="form-group" id="byStyles"></fieldset>
        <fieldset class="form-group" id="byReview"></fieldset>
      </div>
      <div id="sorting" class="collapse"></div>
      <div id="counting"></div>
    </div>

    <h3>Choose products from these plumbing product makers:</h3>
    <ul id="suppliers"></ul>

<footer>
  &copy; 2017 by jdstein1
</footer>

  </div>

  <script type="text/javascript" src="data/suppliers.json"></script>

  <script type="text/template" id="vendor-template">
    <div class="header"><%= name %> <a href='<%= href %>' target='_blank' class="btn btn-default btn-sm" role="button">website</a> <span class="type <%= type %>"></span></div>
    <ul class="details">
      <!-- <li><span class="label">type:</span> <%= type %></li> -->
      <!-- <li><span class="label">link:</span> <a href='<%= href %>' target='_blank' class="btn btn-default btn-sm" role="button">website</a></li> -->
      <li><span class="label">products:</span> <%= products %></li>
      <li><span class="label">styles:</span> <%= styles %></li>
      <li><span class="label">review:</span> <%= review %></li>
    </ul>
  </script>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="../bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="scripts/routes.js"></script>
  <script type="text/javascript" src="scripts/models.js"></script>
  <script type="text/javascript" src="scripts/views.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>
